streamlit==1.0.0
pandas==1.3.3
numpy==1.21.2
matplotlib==3.4.3
seaborn==0.11.2
time==0.1
openai==0.29.0
scikit-learn==0.24.2  # Assuming you meant scikit-learn, otherwise adjust accordingly
nltk==3.6.3
spacy==3.1.4
contractions==0.0.52
wordcloud==1.8.1